<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TraitementListePlat</servlet-name>
        <servlet-class>servlet.TraitementListePlat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementPrixRevient</servlet-name>
        <servlet-class>servlet.TraitementPrixRevient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementListeServeur</servlet-name>
        <servlet-class>servlet.TraitementListeServeur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitInsertCommande</servlet-name>
        <servlet-class>servlet.TraitInsertCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementCommande</servlet-name>
        <servlet-class>servlet.TraitementCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementInsertDetailsCommande</servlet-name>
        <servlet-class>servlet.TraitementInsertDetailsCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementRecette</servlet-name>
        <servlet-class>servlet.TraitementRecette</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementNTable</servlet-name>
        <servlet-class>servlet.TraitementNTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementAnnuler</servlet-name>
        <servlet-class>servlet.TraitementAnnuler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementCuisine</servlet-name>
        <servlet-class>servlet.TraitementCuisine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementValider</servlet-name>
        <servlet-class>servlet.TraitementValider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementLivraison</servlet-name>
        <servlet-class>servlet.TraitementLivraison</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementPret</servlet-name>
        <servlet-class>servlet.TraitementPret</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementLivrer</servlet-name>
        <servlet-class>servlet.TraitementLivrer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementPayer</servlet-name>
        <servlet-class>servlet.TraitementPayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementCaisse</servlet-name>
        <servlet-class>servlet.TraitementCaisse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementListePayer</servlet-name>
        <servlet-class>servlet.TraitementListePayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementRecettePayer</servlet-name>
        <servlet-class>servlet.TraitementRecettePayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementIngredientConsommer</servlet-name>
        <servlet-class>servlet.TraitementIngredientConsommer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementStock</servlet-name>
        <servlet-class>servlet.TraitementStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementPaiement</servlet-name>
        <servlet-class>servlet.TraitementPaiement</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementPayerTotal</servlet-name>
        <servlet-class>servlet.TraitementPayerTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementPaiement1</servlet-name>
        <servlet-class>servlet.TraitementPaiement1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementMontant</servlet-name>
        <servlet-class>servlet.TraitementMontant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraietementLogin</servlet-name>
        <servlet-class>servlet.TraietementLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TraitementDeconnexion</servlet-name>
        <servlet-class>servlet.TraitementDeconnexion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TraitementListePlat</servlet-name>
        <url-pattern>/TraitementListePlat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementPrixRevient</servlet-name>
        <url-pattern>/TraitementPrixRevient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementListeServeur</servlet-name>
        <url-pattern>/TraitementListeServeur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitInsertCommande</servlet-name>
        <url-pattern>/TraitInsertCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementCommande</servlet-name>
        <url-pattern>/TraitementCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementInsertDetailsCommande</servlet-name>
        <url-pattern>/TraitementInsertDetailsCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementRecette</servlet-name>
        <url-pattern>/TraitementRecette</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementNTable</servlet-name>
        <url-pattern>/TraitementNTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementAnnuler</servlet-name>
        <url-pattern>/TraitementAnnuler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementCuisine</servlet-name>
        <url-pattern>/TraitementCuisine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementValider</servlet-name>
        <url-pattern>/TraitementValider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementLivraison</servlet-name>
        <url-pattern>/TraitementLivraison</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementPret</servlet-name>
        <url-pattern>/TraitementPret</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementLivrer</servlet-name>
        <url-pattern>/TraitementLivrer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementPayer</servlet-name>
        <url-pattern>/TraitementPayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementCaisse</servlet-name>
        <url-pattern>/TraitementCaisse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementListePayer</servlet-name>
        <url-pattern>/TraitementListePayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementRecettePayer</servlet-name>
        <url-pattern>/TraitementRecettePayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementIngredientConsommer</servlet-name>
        <url-pattern>/TraitementIngredientConsommer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementStock</servlet-name>
        <url-pattern>/TraitementStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementPaiement</servlet-name>
        <url-pattern>/TraitementPaiement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementPayerTotal</servlet-name>
        <url-pattern>/TraitementPayerTotal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementPaiement1</servlet-name>
        <url-pattern>/TraitementPaiement1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementMontant</servlet-name>
        <url-pattern>/TraitementMontant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraietementLogin</servlet-name>
        <url-pattern>/TraietementLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TraitementDeconnexion</servlet-name>
        <url-pattern>/TraitementDeconnexion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
